* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/icons8-dark.png);
  --border-icon: 1px solid #ffff;
  --background-color: white;
  /*--margin-icon-left: -35px;*/
}

.ligth {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-ligth.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: transparent;
  --surface-color-hover: rgb(211, 211, 211);
  --highlight-color: rgb(211, 211, 211);
  --switch-bg-url: url(./assets/icons8-smiling-sun.png);
  --border-icon: 1px solid black;
  --background-color: transparent;
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /*height: 100vh;*/
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;

  padding: 0 16px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

#profile p {
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 24px;
}

/* switch */
#switch {
  position: relative;
  width: 65px;
  margin: 4px auto;
}

#switch > button {
  height: 32px;
  width: 32px;
  background-image: var(--switch-bg-url);
  background-color: var(--background-color);
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  animation: slide-back 0.4s;
  -webkit-animation: slide-back 0.4s;
}

.ligth #switch button {
  animation: slide-in 0.4s forwards;
  -webkit-animation: slide-in 0.4s forwards;
}

#switch > button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch > span {
  display: block;
  width: 65px;
  height: 24px;
  background: var(--surface-color);
  border: var(--border-icon);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  border: 1px solid var(--stroke-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  font-size: 24px;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
}

#social-links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
}

#social-links > a:hover {
  background: var(--surface-color-hover);
  border: 1px solid rgb(177, 173, 173);
}

footer {
  margin: 24px;
  text-align: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
